
/* Existing styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/radiozero/Images/OVHoe.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px; 
    margin: 20px auto;
}

header {
    background-color: #00796b;
    color: white;
    padding: 20px; 
    text-align: center;
    border-bottom: 4px solid #388E3C;
}

h1, h2 {
    margin-top: 0;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #333; /* Ensure text color is dark in light mode */
}

.player {
    text-align: center;
    margin-bottom: 30px;
    border-top: 2px solid #4CAF50;
    padding-top: 10px;
}

audio {
    width: 100%;
    max-width: 600px;
    margin-top: 1em;
    border-radius: 10px;
}

footer {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

/* Slider styles */
.switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #333;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Dark mode styles for main section */
main.dark-mode {
    background-color: #333; /* Dark grey background */
    color: white; /* White text */
}




